*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}



/*Code for navbar*/
.navbar {
    background-color: #99113e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
.navbar img {
    height: 80px;
    width: auto;
    cursor: pointer;
    margin-left: -50px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.nav-menu li {
    cursor: pointer;
}
.nav-menu li a{
    color: white;
    text-decoration: none;
}












/*Code for about me*/
.hero {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    z-index: 2;
    margin-top: 90px;
}
.left-hero {
    width: 40%;
    padding-right: 20px;
}
.left-hero h3 {
    font-size: 24px;
}
.left-hero h1 {
    font-size: 58px;
}
.left-hero h2 {
    font-size: 20px;
    margin: 10px 0;
}
.left-hero p {
    font-size: 16px;
    margin-bottom: 20px;
}
.right-hero {
    width: 40%;
}
.right-hero img {
    width: 100%;
    border-radius: 10px;
}








/*How to make*/
.how-to-make{
    background-color: white;
    display: grid;
}
.how-to-make h2{
    font-size: 36px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
.how-to-make h3{
    font-size: 28px;
    text-align: center;
    margin-bottom: -40px;
}
.big-container{
    display: flex;
    padding: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: -30px;
}
.image-box{
    width: 50%;

}
.image-box img{
    width: 435px;
    height: 435px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.timeline {
    position: relative;
    max-width: 600px;
    padding: 10px 40px;
    background: white;

    width: 50%;
    align-items: center;
    justify-content: center;

}
.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #99113e;
    top: 0;
    bottom: 0;
    left: 20px;
    margin-left: -3px;
}
.event {
    padding: 10px 0;
    position: relative;
    margin-left: 6px;
}
.event::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -40px;
    background-color: white;
    border: 4px solid #99113e;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}
.content {
    padding: 10px;
    background: #f3f3f3;
    position: relative;
    border-radius: 6px;
    font-size: 14px;
}








.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}
.container h1 {
    margin-bottom: 40px;
    font-size: 40px;
}
.container-box {
    width: 80%;
    background-color: #99113e;
    border-radius: 30px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box {
    display: inline-block;
    margin: 0 15px;
    padding: 20px;
    width: 100px;
    text-align: center;
}
.number {
    display: block;
    font-size: 50px;
    color: white;
}
.container p {
    margin: 0;
    font-size: 20px;
    color: white;
}



















/* Footer */
.footer {
    background-color: #1e2a38;
    color: #ffffff;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    border-radius: 50% / 100px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer content */
.footer-logo {
    display: grid;
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-logo h1 {
    font-size: 24px;
}
.footer-logo p {
    margin: 10px 0 20px;
    max-width: 200px;
}
.footer-socials {
    display: flex;
    gap: 10px;
}
.footer-socials a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-column h3 {
    margin-bottom: 20px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin: 10px 0;
}
.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}
.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}
.newsletter button {
padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #99113e;
    color: #ffffff;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: white;
    color: #99113e;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #1e2a38;
    color: #ffffff;
    border-top: 1px solid #2c3e50;
}