*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}


/*Code for navbar*/
.navbar {
    background-color: #99113e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
.navbar img {
    height: 80px;
    width: auto;
    cursor: pointer;
    margin-left: -50px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.nav-menu li {
    cursor: pointer;
}
.nav-menu li a{
    color: white;
    text-decoration: none;
}




.contact {
    display: grid;
    gap: 20px;
    padding: 120px;
}
.contact h1 {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.contact hr {
    width: 30%;
    border: 0;
    border-radius: 10px;
    height: 2px;
    background: #141313;
    margin: 0 auto;
    margin-top: 10px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.left, .right {
    flex: 1;
}

.left {
    padding-right: 20px;
}

.left h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.left p {
    margin-bottom: 20px;
}

.map-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.right h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.right p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

form button {
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #99113e;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
}

form button:hover {
    background-color: white;
    color: #99113e;
    border: 1px solid;
    border-color: #99113e;
}








/* Footer */
.footer {
    background-color: #1e2a38;
    color: #ffffff;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    border-radius: 50% / 100px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -60px;
}

/* Footer content */
.footer-logo {
    display: grid;
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-logo h1 {
    font-size: 24px;
}
.footer-logo p {
    margin: 10px 0 20px;
    max-width: 200px;
}
.footer-socials {
    display: flex;
    gap: 10px;
}
.footer-socials a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-column h3 {
    margin-bottom: 20px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin: 10px 0;
}
.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}
.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}
.newsletter button {
padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #99113e;
    color: #ffffff;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: white;
    color: #99113e;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #1e2a38;
    color: #ffffff;
    border-top: 1px solid #2c3e50;
}