*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}



/*Code for navbar*/
.navbar {
    background-color: #99113e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
.navbar img {
    height: 80px;
    width: auto;
    cursor: pointer;
    margin-left: -50px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.nav-menu li {
    cursor: pointer;
}
.nav-menu li a{
    color: white;
    text-decoration: none;
}




/*Code for carousel*/
.carousel {
    position: relative;
    margin-top: 100px;
    height: 550px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
}
.arrow.left {
    margin-left: 20px;
}
.arrow.right {
    margin-right: 20px;
}




/*Code for popular-products*/
.popular-products {
    text-align: center;
    padding: 50px 0;
    background-color: #f3f3f3;
}
.popular-products h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 230px;
    text-align: center;
    transition: transform 0.3s ease;
}
.product:hover {
    transform: scale(1.05);
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product h3 {
    font-size: 18px;
    margin-top: 2px;
}
.stars {
    color: black;
}
.price {
    font-size: 18px;
    color: black;
    margin-top: 2px;
}
.popular-products button {
    padding: 5px 50px;
    font-size: 16px;
    background-color: #99113e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 2px;

}
.popular-products button:hover {
    border: 0.1px solid #99113e;
    background-color: white;
    color: #99113e;
}





/*Code for about me*/
.hero {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 2;
}
.left-hero {
    width: 40%;
    padding-right: 20px;
}
.left-hero h3 {
    font-size: 24px;
}
.left-hero h1 {
    font-size: 58px;
}
.left-hero h2 {
    font-size: 20px;
    margin: 10px 0;
}
.left-hero p {
    font-size: 16px;
    margin-bottom: 20px;
}
.left-hero button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #99113e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;

}
.left-hero button:hover {
    border: 0.1px solid #99113e;
    background-color: white;
    color: #99113e;
}
.right-hero {
    width: 40%;
}
.right-hero img {
    width: 100%;
    border-radius: 10px;
}





/*Code for new-products*/
.new-products {
    text-align: center;
    padding: 50px 0;
    background-color: #f3f3f3;
}
.new-products h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.new-product-one {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.new-product {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 230px;
    text-align: center;
    transition: transform 0.3s ease;
}
.new-product:hover {
    transform: scale(1.05);
}
.new-product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.new-product h3 {
    font-size: 18px;
    margin-top: 2px;
}
.stars {
    color: black;
}
.price {
    font-size: 18px;
    color: black;
    margin-top: 2px;
}
.new-product button {
    padding: 5px 50px;
    font-size: 16px;
    background-color: #99113e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 2px;

}
.new-product button:hover {
    border: 0.1px solid #99113e;
    background-color: white;
    color: #99113e;
}





/* Customer reviews */
.customer-reviews {
    text-align: center;
    padding: 50px 0;
    background-color: white;
}
.customer-reviews h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.reviews {
    background-color: white;
    display: flex;
    margin: 70px;
    justify-content: space-around;
}
.review-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.212);
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
.review-card:hover {
    background-color: #99113e;
    color: white;
}
.review-header {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customer-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}
.review-card h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}
.review-card p {
    color: #666;
    font-size: 0.9em;

}
.review-card:hover h2, 
.review-card:hover p, 
.review-card:hover .customer-name {
    color: white;
}
.review-rating {
    margin: 10px 0;
}
.star {
    color: #FFD700;
    font-size: 1.2em;
}
.review-card:hover .star {
    color: white;
}
.customer-name {
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}





/* Footer */
.footer {
    background-color: #1e2a38;
    color: #ffffff;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    border-radius: 50% / 100px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer content */
.footer-logo {
    display: grid;
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-logo h1 {
    font-size: 24px;
}
.footer-logo p {
    margin: 10px 0 20px;
    max-width: 200px;
}
.footer-socials {
    display: flex;
    gap: 10px;
}
.footer-socials a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}
.footer-column h3 {
    margin-bottom: 20px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin: 10px 0;
}
.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}
.newsletter {
    display: flex;
    flex-direction: column;
}
.newsletter input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}
.newsletter button {
padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #99113e;
    color: #ffffff;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: white;
    color: #99113e;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #1e2a38;
    color: #ffffff;
    border-top: 1px solid #2c3e50;
}